Author : Dwi Fitria Astari Lubis
Task #3. Exploratory Data Analysis-Retail
GRIP @ The Spark Foundation

In [1]:
# Task 3 Explatory Data Analysis-Retail
#list library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#Load Retail Dataset
url = "SampleSuperstore.csv"
Retail = pd.read_csv(url)
print("Data imported successfully")
print(Retail.shape)
Retail.head()

Data imported successfully
(9994, 13)

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,0.00,41.9136
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,0.00,219.5820
2,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,0.00,6.8714
3,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,0.45,-383.0310
4,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,0.20,2.5164

In [3]:
#Check missing data
Retail.isnull().sum()

Ship Mode       0
Segment         0
Country         0
City            0
State           0
Postal Code     0
Region          0
Category        0
Sub-Category    0
Sales           0
Quantity        0
Discount        0
Profit          0
dtype: int64

There is no missing data

In [4]:
#Check duplicate data
duplicates = Retail.duplicated()
if duplicates.any():
    print("Duplicate rows found!")

Duplicate rows found!

There is no duplicate data

In [5]:
#Exploring the data
Retail.describe() #mean ,std deviation etc ##to display stats

        Postal Code         Sales     Quantity     Discount       Profit
count   9994.000000   9994.000000  9994.000000  9994.000000  9994.000000
mean   55190.379428    229.858001     3.789574     0.156203    28.656896
std    32063.693350    623.245101     2.225110     0.206452   234.260108
min     1040.000000      0.444000     1.000000     0.000000 -6599.978000
25%    23223.000000     17.280000     2.000000     0.000000     1.728750
50%    56430.500000     54.490000     3.000000     0.200000     8.666500
75%    90008.000000    209.940000     5.000000     0.200000    29.364000
max    99301.000000  22638.480000    14.000000     0.800000  8399.976000

The sales data range is too large, because there are customers who buy only 1 pieces and the price of the product is low. Should I clean the outliers? It depends on data request from users.

In [6]:
# If users doesn't want the outliers of sales, I need to clean the outliers and find Q1 and Q3
# Calculate IQR for 'Sales'

Q1 = Retail['Sales'].quantile(0.25)
Q3 = Retail['Sales'].quantile(0.75)
IQR = Q3 - Q1

# Define outlier thresholds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Identify outliers
outliers = Retail[(Retail['Sales'] < lower_bound) | (Retail['Sales'] > upper_bound)]

# Remove outliers (optional)
Retail_cleaned = Retail[(Retail['Sales'] >= lower_bound) & (Retail['Sales'] <= upper_bound)]

The users can use data "Retail-cleaned" after cleaning the outliers.

In [7]:
#to know data type:
Retail_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8827 entries, 0 to 9993
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Ship Mode     8827 non-null   object
 1   Segment       8827 non-null   object
 2   Country       8827 non-null   object
 3   City          8827 non-null   object
 4   State         8827 non-null   object
 5   Postal Code   8827 non-null   int64
 6   Region        8827 non-null   object
 7   Category      8827 non-null   object
 8   Sub-Category  8827 non-null   object
 9   Sales         8827 non-null   float64
 10  Quantity      8827 non-null   int64
 11  Discount      8827 non-null   float64
 12  Profit        8827 non-null   float64
dtypes: float64(3), int64(2), object(8)
memory usage: 965.5+ KB

The total data become 8827 datas

In [8]:
print(Retail_cleaned)

           Ship Mode    Segment        Country             City       State  \
0       Second Class   Consumer  United States        Henderson    Kentucky
2       Second Class  Corporate  United States      Los Angeles  California
4     Standard Class   Consumer  United States  Fort Lauderdale     Florida
5     Standard Class   Consumer  United States      Los Angeles  California
6     Standard Class   Consumer  United States      Los Angeles  California
...              ...        ...            ...              ...         ...
9989    Second Class   Consumer  United States            Miami     Florida
9990  Standard Class   Consumer  United States       Costa Mesa  California
9991  Standard Class   Consumer  United States       Costa Mesa  California
9992  Standard Class   Consumer  United States       Costa Mesa  California
9993    Second Class   Consumer  United States      Westminster  California

      Postal Code Region         Category Sub-Category    Sales  Quantity  \
0           42420  South        Furniture    Bookcases  261.960         2
2           90036   West  Office Supplies       Labels   14.620         2
4           33311  South  Office Supplies      Storage   22.368         2
5           90032   West        Furniture  Furnishings   48.860         7
6           90032   West  Office Supplies          Art    7.280         4
...           ...    ...              ...          ...      ...       ...
9989        33180  South        Furniture  Furnishings   25.248         3
9990        92627   West        Furniture  Furnishings   91.960         2
9991        92627   West       Technology       Phones  258.576         2
9992        92627   West  Office Supplies        Paper   29.600         4
9993        92683   West  Office Supplies   Appliances  243.160         2

      Discount   Profit
0          0.0  41.9136
2          0.0   6.8714
4          0.2   2.5164
5          0.0  14.1694
6          0.0   1.9656
...        ...      ...
9989       0.2   4.1028
9990       0.0  15.6332
9991       0.2  19.3932
9992       0.0  13.3200
9993       0.0  72.9480

[8827 rows x 13 columns]

This time, I will not remove the outliers because they are essential for my analysis.